@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #201f1f;
}

.container-button {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: rgb(255, 58, 58);
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 15px;
    justify-content: center;
}

li {
    border: 2px solid rgb(255, 255, 58);
    border-radius: 4px;
    color: white;
}

img {
    width: 100%;
    border-radius: 20px;
}

p{
    color: white;
}

.item-price {
    font-weight: bold;
    color: yellow;
}